:root {
	--block-width: 17px;
	--side-height: 33;
	--top-width: 27;
}
@media (max-aspect-ratio: 4/3) {
	:root {--block-width: 1.6vw;}
}
@media (min-aspect-ratio: 4/3) {
	:root {--block-width: 2.5vh;}
}
@font-face {
     font-family: 'StateFaceRegular';
     src: url('../font/webfont/stateface-regular-webfont.eot');
     src: url('../font/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/webfont/stateface-regular-webfont.woff') format('woff'),
          url('../font/webfont/stateface-regular-webfont.ttf') format('truetype'),
          url('../font/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 .stateface:before {
    font-family: StateFaceRegular;
    margin-right: 5px;
}

.stateface-replace {
    text-indent: -999em;
    display: inline-block;
    position: relative;
    min-width: 1em;
}

.stateface-replace:before {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
}

.stateface-ak:before {
    content: "A";
}

.stateface-al:before {
    content: "B";
}

.stateface-ar:before {
    content: "C";
}

.stateface-az:before {
    content: "D";
}

.stateface-ca:before {
    content: "E";
}

.stateface-co:before {
    content: "F";
}

.stateface-ct:before {
    content: "G";
}

.stateface-dc:before {
    content: "y";
}

.stateface-de:before {
    content: "H";
}

.stateface-fl:before {
    content: "I";
}

.stateface-ga:before {
    content: "J";
}

.stateface-hi:before {
    content: "K";
}

.stateface-ia:before {
    content: "L";
}

.stateface-id:before {
    content: "M";
}

.stateface-il:before {
    content: "N";
}

.stateface-in:before {
    content: "O";
}

.stateface-ks:before {
    content: "P";
}

.stateface-ky:before {
    content: "Q";
}

.stateface-la:before {
    content: "R";
}

.stateface-ma:before {
    content: "S";
}

.stateface-md:before {
    content: "T";
}

.stateface-me:before {
    content: "U";
}

.stateface-mi:before {
    content: "V";
}

.stateface-mn:before {
    content: "W";
}

.stateface-mo:before {
    content: "X";
}

.stateface-ms:before {
    content: "Y";
}

.stateface-mt:before {
    content: "Z";
}

.stateface-nc:before {
    content: "a";
}

.stateface-nd:before {
    content: "b";
}

.stateface-ne:before {
    content: "c";
}

.stateface-nh:before {
    content: "d";
}

.stateface-nj:before {
    content: "e";
}

.stateface-nm:before {
    content: "f";
}

.stateface-nv:before {
    content: "g";
}

.stateface-ny:before {
    content: "h";
}

.stateface-oh:before {
    content: "i";
}

.stateface-ok:before {
    content: "j";
}

.stateface-or:before {
    content: "k";
}

.stateface-pa:before {
    content: "l";
}

.stateface-ri:before {
    content: "m";
}

.stateface-sc:before {
    content: "n";
}

.stateface-sd:before {
    content: "o";
}

.stateface-tn:before {
    content: "p";
}

.stateface-tx:before {
    content: "q";
}

.stateface-us:before {
    content: "z";
}

.stateface-ut:before {
    content: "r";
}

.stateface-va:before {
    content: "s";
}

.stateface-vt:before {
    content: "t";
}

.stateface-wa:before {
    content: "u";
}

.stateface-wi:before {
    content: "v";
}

.stateface-wv:before {
    content: "w";
}

.stateface-wy:before {
    content: "x";
}

.rep {
	color: red;
}
.dem {
	color: blue;
}

#mapHolder {
	position: relative;
}

.presSpanL {
	background-color: rgba(0,0,0,.4);
	width: calc( var(--block-width) * 1);
	left: 20px;
	height: calc( var(--block-width) * var(--side-height));
	position: absolute;
	top: calc( 20px + var(--block-width) * 1);
}
.presSpanTL {
	background-color: rgba(0,0,0,.3);
	width: calc( var(--block-width) * var(--top-width));
	left: calc( 20px );
	height: calc( var(--block-width) * 1);
	position: absolute;
	top: 20px;
	
}
.at217 {
	background-color: rgba(255,0,0,1);
	width: calc( var(--block-width) * 1 - 1px);
	left: calc( 20px + var(--block-width) * var(--top-width));
	height: calc( var(--block-width) * 1);
	position: absolute;
	top: calc( 10px);
	
}

.presSpanTR {
	background-color: rgba(0,0,0,.2);
	width: calc( var(--block-width) * var(--top-width));
	left: calc( 20px + var(--block-width) * var(--top-width));
	height: calc( var(--block-width) * 1);
	position: absolute;
	top: 20px;
	
}
.presSpanR {
	background-color: rgba(0,0,0,.1);
	width: calc( var(--block-width) * 1);
	left: calc( 20px + var(--block-width) * var(--top-width) * 2 - var(--block-width) * 1);
	height: calc( var(--block-width) * var(--side-height));
	position: absolute;
	top: calc( 20px + var(--block-width) * 1);
}

.pres-cell {
	border: 1px solid yellow;
	text-align: center;
	height: calc( var(--block-width) * 1 - 2px);
	width: calc( var(--block-width) * 1 - 2px);
	position: absolute;
}
.insideSpan {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,1);
	left: 0px;
	top:0px;
	position: absolute;
	border: 0px;
}

#electoralMap {
	background-color: rgba(0,0,0,.25);
	width: calc( var(--block-width) * (var(--top-width) * 2 - 4) );
	left: calc( 20px + var(--block-width) * 2);
	height: calc( var(--block-width) * (var(--side-height) - 1));
	position: absolute;
	top: calc( 20px + var(--block-width) * 2);
}
.mapSVG {

	width: calc( var(--block-width) * (var(--side-height) - 1) * 1.6);
	left: 0px;
	height: calc( var(--block-width) * (var(--side-height) - 1));
	position: absolute;
	top: 0px;
	stroke: white;
	stroke-width: 2;
}

.secondSVG path {
	fill-opacity: 0;
}

#simulations {
	position: absolute;
	right: calc( var(--block-width) * 1);
	bottom: calc( var(--block-width) * 1);
	width: calc( var(--block-width) * 10);
	height: calc( var(--block-width) * 10);
	border: 1px solid white;
}
#simulationsChart {
	position: absolute;
	top: calc( var(--block-width) * 1);
	left: calc( 50% - var(--block-width) * 5);
	width: calc( var(--block-width) * 10);
	height: calc( var(--block-width) * 5);
	border: 1px solid white;
}