
input[type=range].slider {
  width: 100%;
  margin: -6px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: linear-gradient(to right, blue, white 50%, red);
  border: 0;
  width: 100%;
  height: 16px;
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: -2px;
  width: 80px;
  height: 20px;
  background: #141414;
  border: 2px solid rgba(255, 255, 255, 0.57);
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to right, blue, white 50%, red);
}
input[type=range].slider::-moz-range-track {
  background: linear-gradient(to right, blue, white 50%, red);
  border: 0;
  width: 100%;
  height: 16px;
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: 80px;
  height: 20px;
  background: #141414;
  border: 2px solid rgba(255, 255, 255, 0.57);
  border-radius: 4px;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 16px;
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: blue;
  border: 0;
}
input[type=range].slider::-ms-fill-upper {
  background: red;
  border: 0;
}
input[type=range].slider::-ms-thumb {
  width: 80px;
  height: 20px;
  background: #141414;
  border: 2px solid rgba(255, 255, 255, 0.57);
  border-radius: 4px;
  cursor: pointer;
  margin-top: -2px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: blue;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: red;
}